@font-face {
    font-family: 'TT Commons';
    src: url('fonts/Fontspring-DEMO-tt_commons_pro_regular.otf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: 'TT Commons';
    src: url('fonts/Fontspring-DEMO-tt_commons_pro_medium.otf') format('truetype');
    font-style: normal;
    font-weight: 500;
  }
@font-face {
    font-family: 'TT Commons';
    src: url('fonts/Fontspring-DEMO-tt_commons_pro_bold.otf') format('truetype');
    font-style: bold;
    font-weight: 700;
  }
  @font-face {
      font-family: 'TT Commons';
      src: url('fonts/Fontspring-DEMO-tt_commons_pro_black.otf') format('truetype');
      font-style: bolder;
      font-weight: 800;
    }
  @font-face {
      font-family: 'TT Commons';
      src: url('fonts/Fontspring-DEMO-tt_commons_pro_extrablack.otf') format('truetype');
      font-style: bold;
      font-weight: 900;
    }
  